<% comments.each do |comment| %>
        <tr class="container">
            <td>
                <p class="font-weight-bold mb-0"><%= comment.user_id %></p>
            </td>
            <td>
                <p class="font-weight-bold mb-0"><%= comment.content %></p>
            </td>
            <td>
                <p class="font-weight-bold mb-0"><%= comment.created_at %></p>
            </td>
        </tr>
        <tr class="container">
            <%# <%= render 'form', comment: @comment %> 
        </tr>
<% end %>