<% if can? :create, Comment %>
    <div class="bg-gradient-light border-radius-lg">
        <%= form_with model: @comment, local: false, :html => {:id =>'comment-form' } do |form| %>
                <div class="text-uppercase text-secondary font-weight-bolder opacity-7">
                    <%= form.text_area :content, maxlength: 255, class: "bg-light form-control"%>
                    <%= form.submit 'Salvar', class: "btn btn-lg bg-gradient-primary btn-lg m-2" %>
                    <%= form.hidden_field :post_id, :value => @post.id %>
                </div>
        <% end %>
    </div>
<% end %>