<div class="m-4 p-0 bg-gradient-light border-radius-lg">
    <div class="card card-plain">
        <div class="card-header">
            <h4 class="font-weight-bolder">Cargo</h4>
            <p class="mb-0">Editando o cargo <%= @role.username %> </p>
        </div>
        <%= render partial: 'edit' %>
    </div>
</div>