<div class="container p-0 bg-gradient-light border-radius-lg">
    <div class="card card-plain">
        <div class="card-header">
            <h4 class="font-weight-bolder">Categoria</h4>
            <p class="mb-0">Criando uma nova categoria</p>
        </div>
        <%= render partial: 'form' %>
    </div>
</div>