<div class="fill">
    <div class="container p-0 bg-gradient-light border-radius-lg">
        <div class="card card-plain">
            <div class="card-header">
                <h4 class="font-weight-bolder">Hello <%= @resource.email %>!</h4>
            </div>
            <div class="card-body">
                <p class="text-rose m-2 font-weight-bold">Someone has requested a link to change your password. You can do this through the link below.</p>

                <p class="text-rose m-2 font-weight-bold"><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

                <p class="text-rose m-2 font-weight-bold">If you didn't request this, please ignore this email.</p>
                <p class="text-rose m-2 font-weight-bold">Your password won't change until you access the link above and create a new one.</p>
            </div>
        </div>
    </div>
</div>
