<div class="fill">
    <div class="container p-0 bg-gradient-light border-radius-lg">
        <div class="card card-plain">
            <div class="card-header">
                <h4 class="font-weight-bolder">Olá <%= @resource.email %>!</h4>
            </div>
            <div class="card-body">
                <p class="text-rose m-2 font-weight-bold">Foi resquisitada a alteração de senha, pode faze-la no link abaixo.</p>

                <p class="text-rose m-2 font-weight-bold"><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

                <p class="text-rose m-2 font-weight-bold">Se não foi você que requisitou, ignore esse email.</p>
                <p class="text-rose m-2 font-weight-bold">Sua senha não será alterada até que você acesse o link acima e crie uma nova.</p>
            </div>
        </div>
    </div>
</div>
