<div class="fill">
    <div class="container p-0 bg-gradient-light border-radius-lg">
        <div class="card card-plain">
            <div class="card-header">
                <h4 class="font-weight-bolder">Olá <%= @resource.email %>!</h4>
            </div>
            <div class="card-body">
                <p class="text-rose m-2 font-weight-bold">Sua conta foi bloqueada devida a inúmeras tentativas de acesso fracassadas.</p>

                <p class="text-rose m-2 font-weight-bold">Clique no link abaixo para desbloqueá-la:</p>

                <p class="text-rose m-2 font-weight-bold"><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
            </div>
        </div>
    </div>
</div>

